CompositeApp1/src/jbiServiceUnits/SinAPlusB/Partners/ArithmaticWebService/ArithmaticWebServiceService_xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.2_01-hudson-189-. --><xs:schema xmlns:tns="http://src/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://src/">

<xs:element name="addition" type="tns:addition"></xs:element>

<xs:element name="additionResponse" type="tns:additionResponse"></xs:element>

<xs:complexType name="addition">
<xs:sequence>
<xs:element name="p1" type="xs:double"></xs:element>
<xs:element name="p2" type="xs:double"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="additionResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>